/* Navbar Styles */

.header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.nav-links a:last-child {
    font-weight: bold;
}

/* Footer Section Styles */

.footer {
    background-color: #000;
    padding: 15px 0;
}

.footer p {
    color: #fff;
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
}