/* Navbar Styles */

.header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.nav-links a:last-child {
    font-weight: bold;
}

/* Hero Section Styles */

.hero {
    background: url("../images/rainbow-vortex.png") center / cover no-repeat;
    height: 50vh;
}

.hero .row {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero h1 {
    color: #fff;
    font: bold 48px default serif;
}

/* Contact Section Styles */

.contact {
    height: 100vh;
}

.contact .row {
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-group input,
.form-group textarea {
    border: 3px solid #f08080;
    border-radius: 5px;
    padding: 5px 3px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-buttons button {
    padding: 8px 30px;
    border-radius: 3px;
    border: 2px solid;
    font-weight: bold;
    cursor: pointer;
}

.form-buttons .submit {
    background-color: #77bfa3;
    border-color: #3d715d;
}

.form-buttons .reset {
    background-color: #f28585;
    border-color: #8a4646;
}

/* Contact Section Responsive Styles */

@media screen and (max-width: 576px) {
    .contact .row {
        flex-direction: column;
    }
}

/* Footer Section Styles */

.footer {
    margin-top: 20px;
    background-color: #000;
    padding: 15px 0;
}

.footer p {
    color: #fff;
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
}