/* Navbar Styles */

.header {
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.nav-links a:first-child {
    font-weight: bold;
}

/* Hero Section Styles */

.hero {
    background: url("../images/rainbow-vortex.png") center / cover no-repeat;
}

.hero,
.hero .row {
    height: 100vh;
}

.hero .row {
    justify-content: flex-end;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.hero-content h1 {
    font: bold 48px default serif;
    color: #fff;
}

.hero-content p {
    font: bold 25px default serif;
    color: #fff;
}

.hero-content a {
    color: #000;
    font: bold 16px default serif;
    background-color: #f4a742;
    align-self: center;
    width: fit-content;
    padding: 20px 75px;
    border-radius: 3px;
    border: 1px solid #7b6c49;
}

/* Hero Section Responsive Styles */

@media (max-width: 576px) {
    .hero .row {
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-content a {
        font-size: 14px;
        padding: 15px 50px;
    }
}

/* Services Section Styles */

.services {
    padding: 20px 0;
    width: 70%;
    margin: auto;
}

.services h2 {
    font-weight: bold;
    padding-bottom: 10px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.service-item {
    border: 1px solid #1f4b7f;
    border-radius: 10px;
    background: #fff;
}

.service-item h3 {
    background: #1f4b7f;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 15px 0;
    font: bold 18px default serif;
    text-align: center;
}

.service-item p {
    padding: 30px 10px;
    font-size: 14px;
}

/* Services Section Responsive Styles */

@media (max-width: 992px) {
    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 576px) {
    .services-list {
          grid-template-columns: 1fr;
    }
}